[data-color-mode*="light"],
[data-color-mode*="light"] body {
  --color-header-bg: aqua;
  --color-header-bg2: red;
  --color-header-border: #d3d3d3;
  --color-hover: #0000001a;
  --color-text-bg: #00000008;
  --font-size: 12px;
}
[data-color-mode*="dark"],
[data-color-mode*="dark"] body {
  --color-header-bg: red;
  --color-header-bg2: aqua;
  --color-header-border: #21262d;
  --color-hover: #ffffff1c;
  --color-text-bg: #fffefe08;
  --font-size: 14px;
}

.dot {
  margin-top: 20px;
  color: var(--color-header-bg);
  background-color: var(--color-header-bg2, hotpink);
}

.one {
  padding: 10px;
}
.body {
  width: 920px;
  margin: 0 auto;
}
